:root {
    --palette-primary: #4C83FF;
    --palette-primary-dk: #3B61B6;
    --palette-secondary: #2AFADF;
    --palette-secondary-dk: #2EBEAC;
    --base-padding: 50px;
    --transition-speed: 0.3s;
}

html {
    font-size: 18px;
    background-color: #ddd;
}

h1 {
    color: #000;
    text-align: center;
    padding: var(--base-padding) 0 calc( var(--base-padding) / 2 );
}

#gameboard {
    max-width: 800px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    display: none;
}

#gameboard .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}

#gameboard .wrapper .quadrant {
    flex-grow: 1;
    flex-basis: calc( 33.333% - 2px );
}

.quadrant {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border: 1px solid black;
    transition: background-color var(--transition-speed);
}

.quadrant[data-marker="x"]:hover,
.quadrant[data-marker="o"]:hover {
    background-color: transparent;
}

.quadrant:hover {
    background-color: #fff;
}

.quadrant[data-x="1"][data-y="1"] {
    /* border-left: none;
    border-top: none */
}

.quadrant[data-marker="x"]::before {
    content: 'x';
    color: var(--palette-primary);
}

.quadrant[data-marker="o"]::before {
    content: 'o';
    color: var(--palette-secondary);
}

.quadrant::before {
    text-shadow: 2px 2px 2px #000;
}

.ui-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc( var(--base-padding) / 2 ) 0 var(--base-padding);
}

#message-ui,
#player-ui {
    font-size: 1.333rem;
    text-align: center;
}

#message-ui {
    padding-top: var(--base-padding);
}

#message-ui strong {
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
}

#player-turn {
    display: none;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 0.889rem;
    min-height: 45px;
    padding: 5px calc( var(--base-padding) / 2 );
    background-color: var(--palette-primary);
    color: #fff;
    border: 1px solid var(--palette-primary);
    transition: background-color var(--transition-speed);
}

button.alt {
    background-color: transparent;
    color: var(--palette-primary);
}

button.alt:hover {
    background-color: var(--palette-primary-dk);
    border-color: var(--palette-primary-dk);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: var(--palette-primary-dk);
    border-color: var(--palette-primary-dk);
}

button.disable {
    /* display: none; */
    opacity: 0.35;
}

button.disable:hover {
    cursor: not-allowed;
}

#restart {
    display: none;
}

#restart.show {
    display: inline-block;
}